@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

a,
button,
img,
i,
svg {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(0.95);
}

img {
  max-width: 100%;
}

.body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.product-image button {
  transition: all 0.5s ease;
  pointer-events: none;
  opacity: 0;
}

.product-image:hover button {
  opacity: 1;
  pointer-events: all;
}

button:disabled {
  opacity: 0.8;
}

.button-hover {
  @apply hover:text-crimson hover:border hover:border-crimson hover:bg-transparent;
}
